<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Picture Of Day</title>
</head>
<body>
<h1>Picture Of Day</h1>
<img id="img-of-the-day"/>
<p id="description"></p>
<script>
    let query = "https://api.nasa.gov/planetary/apod?api_key=b4ylRNBXmpZZlYyALI6DAXM0PrJt0ydh31Q72dxg";
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function() {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>


<a href="/addFeedBack">Go to Feedback</a>
<a href="/feedbackListing">Go to Feedback Manager</a>
</body>
</html>